.containt {
    text-align: center;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: whitesmoke;
    border-radius: 10px;
    font-family: poppins;
}
.group-input {
    margin: 1rem;
}
.group-input > legend {
    margin-bottom: 1rem;
}
.group-input > input, select {
    margin-bottom: 1rem;
}

