<h1 class="regular">Sign-In</h1>

<div class="cardSignIn">
  <div class="left">
  </div>

  <hr>

  <div class="right">
    <form [formGroup]="registerForm" >
      <div class="form-group formulaire">
        <div class="divInput">
          <input type="text" class="input" formControlName="first_name" placeholder="Prénom">
        </div>
        
        <div class="divInput">
          <input type="text" class="input" formControlName="last_name" placeholder="Nom">
        </div>

        <div class="divInput">
          <div class="divSexe">
            <p>Sexe:</p>
            <input type="checkbox" id="homme" formControlName="homme">
            <label for="homme">Homme</label>
            <input type="checkbox" id="femme" formControlName="femme">
            <label for="femme">Femme</label>
            <input type="checkbox" id="autre" formControlName="autre">
            <label for="autre">Autre</label>
          </div>
        </div>
        
        
        <div class="divInput">
          <input type="text" class="input" formControlName="phone" placeholder="Téléphone">
        </div>
        
        <div class="divInput">
          <input type="text" class="input" formControlName="email" placeholder="Email">
        </div>
        
        <div class="divInput">
          <input type="password" class="input" formControlName="password" placeholder="Mot de passe">
        </div>
        
        <div class="divInput">
          <input type="password" class="input" formControlName="confirm_password" placeholder="Confirmation mot de passe">
        </div>
        
        <div class="divButton">
          <button type="submit" class="btn" (click)="show()">S'inscrire</button>
        </div>
      
    
      </div>
      
      <!-- <pre><code>{{ registerForm.value | json }}</code></pre> -->
    </form>
  </div>
</div>


<div class="alert" *ngIf="first_name.touched && first_name.errors?.required">Le prénom est requis</div>
<div class="alert" *ngIf="first_name.touched && first_name.errors?.cannotContainNumber">Le prénom ne doit pas contenir de numéro</div>

<div class="alert" *ngIf="last_name.touched && last_name.errors?.required">Le nom est requis</div>
<div class="alert" *ngIf="first_name.touched && last_name.errors?.cannotContainNumber">Le nom ne doit pas contenir de numéro</div>


<div class="alert" *ngIf="phone.touched && phone.errors?.required">Le téléphone est requis</div>
<div class="alert" *ngIf="phone.touched && phone.errors?.isANumber">Le numéro de téléphone ne peut pas contenir de lettre</div>
<div class="alert" *ngIf="phone.touched && phone.errors?.cannotContainSpaces">Le numéro de téléphone ne doit pas contenir d'espace</div>
<div class="alert" *ngIf="phone.touched && phone.errors?.startWithNumberZero">Le numéro de téléphone doit commencer par '0'</div>
<div class="alert" *ngIf="phone.touched && phone.errors?.minlength || phone.errors?.maxlength">Le numéro de téléphone doit contenir 10 caractères</div>

<div class="alert" *ngIf="email.touched && email.errors?.required">Le mail est requis</div>
<div class="alert" *ngIf="email.touched && email.errors?.email || email.errors?.pattern">Le mail doit être valide</div>
<!-- <div class="alert" *ngIf="email.touched && email.errors?.userNameExists">Cette email est déjà enregistré</div> -->

<div class="alert" *ngIf="password.touched && password.errors?.required">Le mot de passe est requis est requis</div>

<div class="alert" *ngIf="confirm_password.touched && confirm_password.errors?.required">La confirmation du mot de passe est requis</div>
<div class="alert" *ngIf="confirm_password.touched && confirm_password.errors?.matchOther">Les mots de passe ne sont pas les mêmes</div>

