<form [formGroup]="commentForm">
    <div class="form-group">
        <input
            type="text"
            class="form-control commentaireInput"
            placeholder="Ecris ton commentaire"
            autocomplete="off"
            size="100"
            (keyup.enter)="addComment(commentaire.value); commentaire.value = '';"
            #commentaire
        />
    </div>

    <ul class="list-group">
        <li class="list-group-item" *ngFor="let comment of comments">
            - {{ comment.value }} 
        </li>
    </ul>
</form>

