<header>
    <nav class="navbar">
        <div class="navbar-left">
            <a class="total-center" href="/"><h1 class="white bold">📺 Netflux</h1></a>
        </div>
        <div class="navbar-right">
            <div class="vertical-center">
                <i class="fas fa-search" (click)="searchResult()"></i>
                <input id="search-input" class="navbar-search regular white" placeholder="Rechercher un(e) série/film/personne" [(ngModel)]="searchInput" type="text" 
                (keyup)="searchResult()"
                />
                <select class="search-option" name="searching" id="searching" required [(ngModel)]="searching">
                    <option value="movie">Film</option>
                    <option value="tv">Série</option>
                    <option value="person">Personne</option>
                </select>
            </div>
        </div>
    </nav>
</header>

<section class="content">
    <div class="left-section">
        <div class="left-section-categorie">
            <h2 class="white bold">Films</h2>
        </div>
        <div>
            <div class="left-section-btn" [ngClass]="{'active': activeSearch === 'popularMovies'}" (click)="getPopularMovies()">
                <i class="fas fa-fire"></i><h3 class="regular"> Populaires</h3>
            </div>
            <div class="left-section-btn" [ngClass]="{'active': activeSearch === 'topRatedMovies'}" (click)="getTopRatedMovies()">
                <i class="fas fa-poll"></i><h3 class="regular"> Mieux notés</h3>
            </div>
            <div class="left-section-btn" [ngClass]="{'active': activeSearch === 'nowMovies'}" (click)="getNowMovies()">
                <i class="fas fa-clock"></i><h3 class="regular"> A l'affiche</h3>
            </div>
            <div class="left-section-btn" [ngClass]="{'active': activeSearch === 'upcomingMovies'}" (click)="getUpcomingMovies()">
                <i class="fas fa-calendar-alt"></i><h3 class="regular"> A venir</h3>
            </div>
        </div>
        <div class="left-section-categorie">
            <h2 class="white regular">Séries</h2>
        </div>
        <div>
            <div class="left-section-btn" [ngClass]="{'active': activeSearch === 'popularSeries'}" (click)="getPopularSeries()">
                <i class="fas fa-fire"></i><h3 class="regular"> Populaires</h3>
            </div>
            <div class="left-section-btn" [ngClass]="{'active': activeSearch === 'topRatedSeries'}" (click)="getTopRatedSeries()">
                <i class="fas fa-poll"></i><h3 class="regular"> Mieux notées</h3>
            </div>
            <div class="left-section-btn" [ngClass]="{'active': activeSearch === 'airingTodaySeries'}" (click)="getAiringTodaySeries()">
                <i class="fas fa-clock"></i><h3 class="regular"> Aujourd'hui</h3>
            </div>
            <div class="left-section-btn" [ngClass]="{'active': activeSearch === 'airingNowSeries'}" (click)="getAiringNowSeries()">
                <i class="fas fa-calendar-alt"></i><h3 class="regular"> Cette semaine</h3>
            </div>
        </div>
        <div class="left-section-categorie">
            <h2 class="white regular">Acteurs</h2>
        </div>
        <div>
            <div class="left-section-btn" [ngClass]="{'active': activeSearch === 'popularPeoples'}" (click)="getPopularPeoples()">
                <i class="fas fa-fire"></i><h3 class="regular"> Populaires</h3>
            </div>
        </div>
    </div>

    <div class="right-section">
        <h2 class="white regular">Recherchez films, séries et acteurs !</h2>
        
        <app-movie class="posters-section" *ngIf="searching == 'movie'" [movies]="movies"></app-movie>
        <app-serie class="posters-section" *ngIf="searching == 'tv'" [series]="series"></app-serie>
        <app-people class="posters-section" *ngIf="searching == 'person'" [peoples]="peoples"></app-people>
    </div>

</section>