<label for="searching">Tu cherches quoi ? </label>

<select name="searching" id="searching" required [(ngModel)]="searching">
    <option value="movie" selected="selected">Film</option>
    <option value="tv">Série</option>
    <option value="person">Personne</option>
</select>

<hr>

<input placeholder="Rechercher un(e) Série/Film/Personne" [(ngModel)]="searchInput" type="text"/>

<button (click)="searchResult()" class="btn btn-primary">Recherche</button>

<app-movie *ngIf="searching == 'movie'" [movies]="movies"></app-movie>

<app-people *ngIf="searching == 'person'" [peoples]="peoples"></app-people>

<app-serie *ngIf="searching == 'tv'" [series]="series"></app-serie>