<!-- <label for="searching">Tu cherches quoi ? </label>

<select name="searching" id="searching" required [(ngModel)]="searching">
    <option value="movie" selected="selected">Film</option>
    <option value="tv">Série</option>
    <option value="person">Personne</option>
</select>

<hr>

<input placeholder="Rechercher un(e) Série/Film/Personne" [(ngModel)]="searchInput" type="text"/>

<button (click)="searchResult()" class="btn btn-primary">Recherche</button>

<app-movie *ngIf="searching == 'movie'" [movies]="movies"></app-movie>

<app-people *ngIf="searching == 'person'" [peoples]="peoples"></app-people>

<app-serie *ngIf="searching == 'tv'" [series]="series"></app-serie> -->

<header>
    <nav class="navbar">
        <div class="navbar-left">
            <a class="total-center" href="/"><h1 class="white bold">📺 Netflux</h1></a>
        </div>
        <div class="navbar-right">
            <div class="vertical-center">
                <i class="fas fa-search" (click)="searchResult()"></i>
                <input id="search-input" class="navbar-search regular white" placeholder="Rechercher un(e) série/film/personne" [(ngModel)]="searchInput" type="text" 
                (keyup)="searchResult()"
                />
                <select class="search-option" name="searching" id="searching" required [(ngModel)]="searching">
                    <option value="movie">Film</option>
                    <option value="tv">Série</option>
                    <option value="person">Personne</option>
                </select>
            </div>
        </div>
    </nav>
</header>

<section class="content">
    <div class="left-section">
        <div class="left-section-categorie">
            <h2 class="white bold">Films</h2>
        </div>
        <div>
            <div class="left-section-btn">
                <i class="fas fa-fire"></i><h3 class="regular" (click)="getPopularMovies()"> Populaires</h3>
            </div>
            <div class="left-section-btn">
                <i class="fas fa-poll"></i><h3 class="regular" (click)="getTopRatedMovies()"> Mieux notés</h3>
            </div>
            <div class="left-section-btn">
                <i class="fas fa-clock"></i><h3 class="regular" (click)="getNowMovies()"> A l'affiche</h3>
            </div>
            <div class="left-section-btn">
                <i class="fas fa-calendar-alt"></i><h3 class="regular" (click)="getUpcomingMovies()"> A venir</h3>
            </div>
        </div>
        <div class="left-section-categorie">
            <h2 class="white regular">Séries</h2>
        </div>
        <div>
            <div class="left-section-btn">
                <i class="fas fa-fire"></i><h3 class="regular" (click)="getPopularSeries()"> Populaires</h3>
            </div>
            <div class="left-section-btn">
                <i class="fas fa-poll"></i><h3 class="regular" (click)="getTopRatedSeries()"> Mieux notées</h3>
            </div>
            <div class="left-section-btn">
                <i class="fas fa-clock"></i><h3 class="regular" (click)="getAiringTodaySeries()"> Aujourd'hui</h3>
            </div>
            <div class="left-section-btn">
                <i class="fas fa-calendar-alt"></i><h3 class="regular" (click)="getAiringNowSeries()"> Cette semaine</h3>
            </div>
        </div>
        <div class="left-section-categorie">
            <h2 class="white regular">Acteurs</h2>
        </div>
        <div>
            <div class="left-section-btn">
                <i class="fas fa-fire"></i><h3 class="regular" (click)="getPopularPeoples()"> Populaires</h3>
            </div>
        </div>
    </div>
    <div class="right-section">
        <h2 class="white regular">Recherchez films, séries et acteurs !</h2>

        <div class="left-section-categorie">
            <h2 class="white bold">Genre</h2>
        </div>
        
        <app-movie class="posters-section" *ngIf="searching == 'movie'" [movies]="movies"></app-movie>
        <app-serie class="posters-section" *ngIf="searching == 'tv'" [series]="series"></app-serie>
        <app-people class="posters-section" *ngIf="searching == 'person'" [peoples]="peoples"></app-people>
    </div>

</section>