<div class="card-information">
    <div class="card-top">
        <div>
            <h3 class="bold">{{ people.name }}</h3>
            <p class="regular actor-department">{{people.known_for_department}}</p>
        </div>
    </div>
    <div class="card-main-content">
        <div class="card-poster">
            <img *ngIf="people.profile_path; else imgNotAvailable" 
            src="https://image.tmdb.org/t/p/w440_and_h660_face{{people.profile_path}}" 
            [alt]="people.profile_path">
            <ng-template #imgNotAvailable><img src="http://www.peoplenewz.com/img/films/poster-holder.jpg" 
                alt="poster-not-available"></ng-template>
        </div>
        <div class="card-description">
            <p class="bold">Biographie de l'acteur</p>
            <p class="regular">{{ people.biography }}</p>
            <div class="card-more-information">
                <div *ngIf="people.birthday">
                    <p class="bold">Date de naissance</p>
                    <p class="regular">{{ people.birthday }}</p>
                </div>
                <div *ngIf="people.place_of_birth">
                    <p class="bold">Lieu de naissance</p>
                    <p class="regular">{{ people.place_of_birth }}</p>
                </div>
                <div *ngIf="people.deathday">
                    <p class="bold">Date de décés</p>
                    <p class="regular">{{ people.deathday }}</p>
                </div>
            </div>
            <div class="card-more-information">
                <div>
                    <p class="bold">Genre</p>
                    <p class="regular" *ngIf="people.gender === 1">Femme</p>
                    <p class="regular" *ngIf="people.gender === 2">Homme</p>
                </div>
            </div>
        </div>
    </div>
</div>