<div class="poster" *ngFor="let movie of movies">
    <div class="vote" *ngIf="movie.vote_average">
        <p class="regular">{{ movie.vote_average }}</p>
    </div>   
    <img *ngIf="movie.poster_path; else imgNotAvailable" 
    src="https://image.tmdb.org/t/p/w440_and_h660_face{{movie.poster_path}}" 
    [alt]="movie.poster_path">
    <ng-template #imgNotAvailable><img src="http://www.movienewz.com/img/films/poster-holder.jpg" 
        alt="poster-not-available"></ng-template>
    <h3 (click)="openModalInformation(movie.id)" class="white bold" onclick="disableScroll()">{{ movie.title }} ></h3>
    <ul class="genre-list">
        <li class="regular" *ngFor="let i of movie.genre_ids">{{ genresMovie | mapGenre: i }},&nbsp;</li>
    </ul>
</div>

<div id="myModal" class="modal">

    <div class="modal-content">
      <span (click)="closeModalInformation()" class="close" onclick="enableScroll()">&times;</span>
      <app-movie-by-id *ngIf="movieById" [movie]="movieById"></app-movie-by-id>
    </div>
  
</div>


