#menuItem {
    margin-top:-3%;
    padding-top:0;
    list-style-type:none;
    text-align:center;
}

#items {
    float:left;
    margin:auto;
    padding:10px;
    cursor: pointer;

.open-close-container {
  overflow: hidden;
}
